.slider-container{
  padding: 20px 0;
}

.slider-container-male{
  background-color: #eee;
}

.slider-container-male #slider ul li{
  background-color: #fff;
}  
    
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  max-width:100%;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  max-width:100%;
}

.slider-container-male #slider ul { 
  background-color: #fff;  
}

#slider ul li{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 500px;
  height: 456px;
  text-align: center;
  line-height: 300px;
  max-width:100%;  
}

#slider .category-main{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#slider a.category-link{
  height: 100%;
}

#slider a.category-link span{
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  width:100%;
}

#slider a.category-link:hover, a.category-link:focus span{
  color: #000;
  text-decoration: none;
}

#slider li.category-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  margin-top: auto;
  margin-bottom: auto;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  color: #fff;
  text-decoration: none;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
