#page{
    padding-bottom: 51px;
}

#page .navbar{
    background-color: #9b1d1c;
}

#page .navbar a{
    color:#fff;    
}

#page .navbar .active > a{
    background-color: #811818;
}

#page .navbar .dropdown-menu a {
    color: #000;
}

#page .navbar-default .navbar-nav > li > a:hover, 
#page .navbar-default .navbar-nav > li > a:focus{
    background-color: #811818;
}

#page .navbar input#search {
    border-color: #561010;
}

#page .navbar button.btn.btn-default {
    margin-left: 5px;
    background-color: #811818;
    color: #fff;
    border-color: #561010;
}

.content{
    text-align: center;
}

#center-image{
    margin: 0 auto;
}

@media (max-width:767px){
    #page{
        padding-bottom: 224px;
    }
}